@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #eeeade;
  line-height: 1.9em;
  font-size: 18px;
  color: #054505;
  font-family: system-ui;
  margin-left: 1em;
  margin-right: 1em;
}